{block content}
	<div class="row">
		<div class="col-10">
			<h1>Armors</h1>
		</div>
		<div class="col-2 icons d-flex justify-content-end">
			<a n:href=":Armor:Admin:Armor:add">
				<i class="bi bi-bookmark-plus"></i>Add
			</a>

		</div>
	</div>

	{control grid}


{/block}
