services:
	MailSender:
		factory: \App\MailModule\Model\MailSender\MailSender
		arguments:
			domain: %domain%

	SMTPMailerProvider:
		factory: \App\MailModule\Model\MailerProvider\SMTPMailerProvider
		arguments:
			host: 'smtp.m1.websupport.sk'
			username: 'info@bloodoath.site'
			password: 'Xu8[C!OFTY'
			secure: 'ssl'

parameters:
	domain: https://bloodoath.site/
