services:
	tableService:
		factory: \App\TableModule\Model\Table\TableService

	tableCreateFormFactory:
		factory: \App\TableModule\Forms\TableCreateFormFactory

	tableUnitFormFactory:
		factory: \App\TableModule\Forms\TableUnitFormFactory

	tableItemService:
		factory: \App\TableModule\Model\TableItem\TableItemService

	tableRoleFormFactory:
		factory: \App\TableModule\Forms\TableRoleFormFactory
