
buttons:
	learn_more: Learn more
	log_out: Log out


forms:
	sign_in: 'Log in'
	password: 'Password'
	username: 'Username'
	credentials_incorrect: 'The username, email or password you entered is incorrect.'

	request_password: 'Request password'
	please_enter_email: 'Please enter email'
	email: Email
	not_existing_user_by_email: "User with this email doesn't exost"
	token: Token
	please_enter_token: Please enter token from email
	new_password: New password
	repeat_password: Repeaet password
	please_enter_password: 'Please enter password/s'
	reset_password: Reset password
	password_must_be_same: "Passwords doesn't match"
	email_doesnt_exist: "Email doesn't exist"
	wrong_token: Wrong token
	token_expired: Token expired
	sign_up: 'Sign up'
	username_already_registered: Username is already taken
	email_already_registered: Email is already taken
	old_password: Current password
	update_password: Update password
	current_password_wrong: Incorrect current password
	username_or_email: Username or Email
	change: Change
	school: School
	newsletter_sign_up: 'Subscribe to the newsletter'
	email_already_registered_in_newsletter: "This email is already subscribing newsletter. You can finish your registration with <a href=%link%>password restoration</a>."
	is_mailing: "Subscribes to newsletter"
	created: Created
	is_active: Active

passwords:
	token_send_check_email: "Token was send to your email copy it and paste it down here"

registration:
	title: Sign Up for Bloodoath
	already_have_acount: 'Already have an account ? <a href="%link%">Log in</a>.'
	privacy_and_policy: 'By creating an account, you agree to our <a href="%link%"> privacy policy.</a>'

login:
	registration: "Don't have a Bloodoath account yet?  <a href='%link%'>Create it</a>"
	forget_password: 'Forgot your password?'

restore_password:
	title_text: 'A token for password recovery has been sent to your email. Enter it below along with your new password.'

profile:
	basic_info: Basic information
	mailing: I am interested in subscribing to the newsletter.
	change_password: Change password

footer:
	language: 'Language:'
	call_us: 'Call us'
	email_us: 'Email us'
	neswletter_sign_up: 'Subscribe to the newsletter'
	rights: Bloodoath. All rights reserved.


mail:
	restorePasswordText: '<h1 style="font-family:Arial; font-size:2em; line-height:1em; font-weight:bold; ">Forgot your password? Create a new one.</h1> <p style="font-family:Arial; font-size:1em; line-height:1.5em; font-weight:normal;">We have received a request to change the password for this account. If you do not want to change your password, you can ignore this email.</p>  <p style="font-family:Arial; font-size:1em; line-height:1.5em; font-weight:normal;">If you did not request a password change, we recommend that you check the security settings of your account </p>  <p style="font-family:Arial; font-size:1em; line-height:1.5em; font-weight:normal;">Either copy this token and proceed on the website, or click the button below "Restore password" to reset your password .</p>'
	restorePasswordSubject: 'Password recovery Bloodoath'
	restorePasswordLinkTitle: 'Restore password'

paginator:
	previous: previous
	from: from
	next: next
	page: Page
