{block content}

	<div class="row content">
		<div class="size form">
			<section class="sign-up">
				<h1 n:block=title>{$forgotPasswordPage->getTitle()}</h1>
				{include "../../../../CoreModule/Presenters/templates/@form.latte", name: forgotPasswordForm}
			</section>
		</div>

	</div>
{/block}
