{block content}
	<div class="content">
		<div class="size form">
			<section class="sign-up">
				<h1 n:block=title>{$restorePasswordPage->getTitle()}</h1>
				<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
				<main>
					<p>{_'messages.restore_password.title_text'}</p>
				</main>
				{include "../../../../CoreModule/Presenters/templates/@form.latte", name: restorePasswordForm}

		</div>

	</div>

{/block}
