{block content}


	<div class="row content">
		<div class="size form">

			<section class="sign-up">

				<h1 n:block=title>{_'messages.registration.title'}</h1>

				<main>
					<p>{_'messages.registration.already_have_acount'|replace:'%link%', '/' . $locale . '/' . $logInPage->getAlias()|noescape}</p>
				</main>
				{include "../../../../CoreModule/Presenters/templates/@form.latte", name: signUpForm}
			</section>
		</div>
	</div>


{/block}
